* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* Header */
header {
    background-color: #FF6900;
    height: 70px;
    box-shadow: 0 0 4px #000;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header .container, .links ul, .info-account ul {
    display: flex;
}

header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header ul {
    list-style-type: none;
}

.links {
    min-width: 17%;
}

.links ul {
    justify-content: space-between;
}

/* Logo */
.logo {
    width: 120px;
}

.logo img {
    max-width: 100%;
}

/* Container */
.container {
    width: 70%;
    margin: 0 auto;
}

/* Main - cards */
.main-products .section-cards {
    display: flex;
    justify-content: space-between;
}
