* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    background-color: #FF6900;
    height: 70px;
    box-shadow: 0 0 4px #000;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
}

header a {
    color: #FFF3EA;
    text-decoration: none;
    font-weight: bold;
}

header .container, .header-links ul, .info-account ul {
    display: flex;
    justify-content: space-between;
}

.info-account ul li {
    margin-right: 8px;
}

.info-account ul li:last-child {
    margin-right: 0;
}

header .container {
    align-items: center;
    height: 100%;
}

header ul {
    list-style-type: none;
}

.header-links ul li {
    margin-right: 8px;
}

.header-links ul li:last-child {
    margin-right: 0;
}

/* Logo */
.logo {
    width: 120px;
}

.logo img {
    max-width: 100%;
}

/* Container */
.container {
    width: 70%;
    margin: 0 auto;
}

/* Main - cards */
.main-products {
    margin-top: 120px;
}

.main-products .section-cards {
    display: flex;
    justify-content: space-between;
}

.section-cards .card {
    width: calc(100% / 3 - 10px);
    margin-right: 10px;
}

.section-cards .card:last-child {
    margin-right: 0;
}

.section-cards .card img {
    max-width: 100%;
}

.section-cards .card-image {
    position: relative;
}

.card .info-discount {
    position: absolute;
    bottom: 40px;
    color: #fff;
    font-size: 14px;
}

.card {
    font-size: 15px;
}

.card-image {
    cursor: pointer;
}

.card-image .discount {
    background-color: #FF0000;
    padding: 4px 6px;
    margin-right: 4px;

}

.card-image .sustainability {
    background-color: #008000;
    font-weight: bold;
    padding: 4px 8px;
}

.info-product .name-product {
    font-weight: bold;
}

.card-image .heart {
    position: absolute;
    right: 0;
    top: 8px;
    font-size: 27px;
    background-color: #fff;
    padding: 6px 11px;
}

.info-product .price-product {
    font-size: 14px;
}

.price-product .red-price {
    color: #FF0000;
    font-weight: bold;
}

.price-product .old-price {
    text-decoration: line-through;
}

.section-cards:nth-child(2) {
    margin-top: 30px;
}

/* Card hover */
.card-image .image-hover {
    display: none;
}

.card-image:hover .image-hover {
    display: inline-block;
}

.card-image:hover .image-not-hover {
    display: none;
}

/* Bonus */
.card-image .heart:hover {
    color: #FF0000;
}

/* Footer */
footer {
    margin-top: 50px;
    background-color: #1A1A1A;
    min-height: 70px;
    color: #fff;
    padding: 25px 0;
    font-size: 15px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer h3, footer h4 {
    padding-bottom: 10px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-link ul, .menu-social ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.menu-link ul li {
    margin-right: 8px;
}

.menu-link ul li:last-child {
    margin-right: 0;
}

.menu-social ul li {
    font-size: 20px;
}